@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 스크롤바 */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: var(--background-gradient);
  border-radius: 25px;
}
body::-webkit-scrollbar-track {
  background-color: #575757;
}
/* 전체 컨테이너 */
body {
  background-color: #000;
  font-family: 'Noto Sans KR', sans-serif, 'JalnanGothic', sans-serif;
  font-size: 16px;
  color: #fff;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

section {
  width: 100vw;
  height: auto;
}
main {
  width: 100%;
  height: auto;
}
.floating_wrap {
  width: 80px;
  height: auto;
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
}
.floating_btn {
  width: 80px;
  height: 80px;
  background-color: var(--pointcolor);
  border-radius: 40px;

  margin-bottom: 30px;
  position: relative;
  opacity: 0.6;
  transition: 0.5s;
}
.floating_btn > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating_btn img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.floating_btn p {
  font-size: var(--xxs-font-size);
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
}
.floating_btn:hover {
  opacity: 1;
}
.floating_btn:hover p {
  transform: translateY(-40px);
  opacity: 1;
  color: var(--pointcolor);
}
/* 타이틀 */
.title {
  display: flex;
  justify-content: center;
}
h2:not(.main_title) {
  width: fit-content;
  height: fit-content;
  font-size: var(--lg-font-size);
  font-weight: 600;
  position: relative;
  margin-bottom: 60px;
}
h2:not(.main_title):after {
  content: 'symbol';
  font-size: 0px;
  display: block;
  width: 22px;
  height: 22px;
  background: url(../img/icons/symbol.svg) no-repeat;
  position: absolute;
  top: -25px;
  right: -25px;
}

/* 헤더 */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
header:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
header > .head_con {
  width: 1600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
/* logo */
h1 {
  width: 166px;
  height: 28px;
  margin: 36px 0;
}
h1 > a {
  width: 100%;
  height: 100%;
}
/* gnb */
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb::after {
  content: 'header-background';
  font-size: 0;
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 0;
  transition: 0.5s;
}

#gnb > ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
}
#gnb > ul > li {
  width: fit-content;
  height: 100%;
}
#gnb > ul > li > .list_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: relative;
}
.list_box {
  overflow-x: hidden;
  overflow-y: hidden;
}
.list_box > p {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--xs-font-size);
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  transform-origin: top right;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0.1, 0.1);
}
.list_text {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--xs-font-size);
  font-weight: 500;
  line-height: 1.4;
  position: absolute;
  right: 0px;
  text-align: left;
  top: auto;
  transform: translate(0px, 18px) skew(0deg, 8deg);
  transform-origin: bottom left;
  transition-duration: 0.4s;
  opacity: 0;
}
#gnb > ul > li > .list_wrap:hover .list_text {
  opacity: 1;
  color: var(--pointcolor);
  transform: translate(0px, 0px) skew(0deg, 0deg);
}
#gnb > ul > li > .list_wrap:hover > .list_box > p {
  color: var(--pointcolor);
  transform: translate(0px, -18px) skew(0deg, 8deg);
  opacity: 0;
}
/* icons */
.icon_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-content: center;
  margin: 26px 0;
  gap: 8px;
}
.icon_wrap > a {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
.icon_wrap > a:hover {
  transform: scale(1.2);
}
/* 푸터 */
footer {
  width: 100%;
  height: 150px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer_wrap {
  width: 1600px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  width: fit-content;
  height: fit-content;
}
.footer_logo > a {
  width: 100%;
  height: 100%;
}
.footer_side {
  width: fit-content;
  height: fit-content;
}
.footer_side > ul {
  display: flex;
  gap: 40px;
}
.footer_side > ul > li {
  width: fit-content;
  height: fit-content;
}
.footer_side > ul > li > a {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  color: #777;
}
.footer_corp > a {
  color: #777;
  transition: 0.3s;
}
.footer_corp:hover > a {
  color: #d9d9d9;
  transform: translateY(-2px);
}
.footer_side > ul > li:hover > a {
  color: #d9d9d9;
  transform: translateY(-2px);
}
