@charset "utf-8";
@import url('./reset.css');
@import url('./common.css');

/* 패키지 메인 비주얼*/
.package_main {
  width: 100%;
  height: 1000px;
  padding: 100px 0;
  background-image: var(--background-gradient);
}
/* 패키지 메인 컨텐츠 영역*/
.package_wrap {
  width: 1600px;
  height: auto;
  margin: 100px auto;
  display: flex;
  gap: 40px;
}
/* 카드 영역 */
.card {
  width: 500px;
  height: 800px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 30px;
}
.card > a {
  width: 100%;
  height: 100%;
}
.card_image {
  width: 100%;
  height: 500px;
}
.card_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
/* 카드 텍스트 영역 */
.card_text {
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.card_text > h3 {
  font-size: var(--sm-font-size);
  font-weight: 600;
  color: #000;
  line-height: var(--sm-line-height);
  margin-bottom: 20px;
}
.card_text > p:nth-child(2) {
  font-size: var(--sm-font-size);
  line-height: var(--sm-line-height);
  color: #444;
  margin-bottom: 40px;
}
.card_text > p:nth-child(3) {
  font-size: var(--sm-font-size);
  line-height: var(--sm-line-height);
  color: #777;
  margin-bottom: 40px;
}
