@charset "utf-8";
@import url("/css/responsive/common_responsive.css");

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main_guide {
    height: 500px;
    padding: 60px 0;
    background: var(--background-gradient), url("") no-repeat;
  }
  .main_wrap {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
  }
  /* 메인 이미지 영역 */
  .main_image {
    width: 100%;
    height: auto;
  }
  .main_image:nth-child(2),
  .main_image:nth-child(3) {
    display: none;
  }
  .main_image > a > img {
    filter: opacity(1);
    transform: rotate(15deg);
  }
  .main_image:hover img {
    transform: rotate(15deg);
    filter: opacity(1);
  }
  /* 베스트 스타일 컨텐츠 영역 */
  #best_style {
    padding: 100px 0;
    box-sizing: border-box;
    height: auto;
  }
  .best_wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 10px;
  }
  .best-con {
    height: auto;
  }
  /* 베스트 이미지 영역 */
  .best_image {
    max-width: 100vw;
    max-height: 85vw;
  }
  .best_image > a:hover > img {
    transform: scale(1);
  }
  /* 스타일 가이드 컨텐츠 영역 */
  #style_guide {
    padding: 0;
  }
  /* 스타일 가이드 메뉴 영역 */
  .style_menu {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .style_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .style_menu > ul > li > a {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .style_menu > ul img {
    display: none;
  }
  .style_menu > ul > li:hover > a {
    color: var(--pointcolor);
    transform: translateY(0px);
  }
  /* 위에 이미지 영역 */
  .style_top {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }
  .style_top_wrap {
    width: 100%;
    height: auto;
    padding: 10px 0;
    justify-content: space-between;
  }
  .style_top_wrap > .top_image {
    max-width: 100vw;
    max-height: 60vw;
  }
  /* 아래 이미지 영역 */
  .style_bottom {
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }
  .style_bottom_wrap {
    height: auto;
    justify-content: space-between;
  }
  .style_bottom_wrap > .bottom_image {
    max-width: 100vw;
    max-height: 60vw;
  }
  .top_image:hover > a {
    transform: translateY(0);
  }
  .bottom_image:hover > a {
    transform: translateY(0);
  }
  /* 스타일 룩북 컨텐츠 영역 */
  #lookbook {
    padding: 100px 0;
  }
}

/* 태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main_guide {
    height: 600px;
    padding: 80px 0;
    background-size: cover;
  }
  .main_wrap {
    width: 60%;
    justify-content: center;
    margin: 40px auto;
  }
  /* 메인 이미지 영역 */
  .main_image {
    width: 100%;
    height: auto;
  }
  .main_image:nth-child(2),
  .main_image:nth-child(3) {
    display: none;
  }
  .main_image > a > img {
    filter: opacity(1);
    transform: rotate(15deg);
  }
  /* 베스트 스타일 컨텐츠 영역 */
  #best_style {
    padding: 150px 0;
    box-sizing: border-box;
    height: auto;
  }
  .best_wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 10px;
  }
  .best-con {
    height: auto;
  }
  /* 베스트 이미지 영역 */
  .best_image {
    max-width: 65vw;
    max-height: 65vw;
  }
  .best_image > a:hover > img {
    transform: scale(1);
  }
  /* 스타일 가이드 컨텐츠 영역 */
  #style_guide {
    padding: 0;
  }
  /* 스타일 가이드 메뉴 영역 */
  .style_menu {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .style_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .style_menu > ul > li > a {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .style_menu > ul > li:hover > a {
    color: var(--pointcolor);
    transform: translateY(0px);
  }
  .style_menu > ul img {
    display: none;
  }
  /* 위에 이미지 영역 */
  .style_top {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }
  .style_top_wrap {
    max-width: 100%;
    height: auto;
    padding: 20px 0;
    justify-content: space-between;
  }
  .style_top_wrap > .top_image {
    max-width: 100vw;
    max-height: 60vw;
  }
  /* 아래 이미지 영역 */
  .style_bottom {
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }
  .style_bottom_wrap {
    height: auto;
    justify-content: space-between;
  }
  .style_bottom_wrap > .bottom_image {
    max-width: 100vw;
    max-height: 60vw;
  }
  .top_image:hover > a {
    transform: translateY(0);
  }
  .bottom_image:hover > a {
    transform: translateY(0);
  }
  /* 스타일 룩북 컨텐츠 영역 */
  #lookbook {
    padding: 150px 0;
  }
}

/* 작은 노트북 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main_guide {
    height: 700px;
    padding: 100px 0;
    background-size: cover;
  }
  .main_wrap {
    width: 90%;
    justify-content: space-around;
    margin: 40px auto;
    gap: 20px;
  }
  /* 메인 이미지 영역 */
  .main_image {
    width: 45%;
    height: auto;
  }
  .main_image:nth-child(3) {
    display: none;
  }
  /* 베스트 스타일 컨텐츠 영역 */
  #best_style {
    padding: 200px 0;
    box-sizing: border-box;
    height: auto;
  }
  .best_wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 40px;
  }
  .best-con {
    height: 60vw;
  }
  /* 베스트 이미지 영역 */
  .best_image {
    max-width: 50vw;
    max-height: 50vw;
  }
  /* 스타일 가이드 컨텐츠 영역 */
  #style_guide {
    padding: 0;
  }
  /* 스타일 가이드 메뉴 영역 */
  .style_menu {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .style_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .style_menu > ul > li > a {
    width: 100%;
    height: auto;
    font-size: var(--xs-font-size);
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .style_menu > ul > li:hover > a {
    color: var(--pointcolor);
    transform: translateY(0px);
  }
  .style_menu > ul img {
    width: 4%;
    height: auto;
  }
  /* 위에 이미지 영역 */
  .style_top {
    width: 100%;
  }
  .style_top_wrap {
    max-width: 100%;
    height: auto;
    padding: 20px 0;
    justify-content: space-between;
  }
  .style_top_wrap > .top_image {
    max-width: 100vw;
    max-height: 45vw;
  }
  /* 아래 이미지 영역 */
  .style_bottom {
    width: 100%;
  }
  .style_bottom_wrap {
    height: auto;
    justify-content: space-between;
  }
  .style_bottom_wrap > .bottom_image {
    max-width: 100vw;
    max-height: 45vw;
  }
  /* 스타일 룩북 컨텐츠 영역 */
  #lookbook {
    padding: 200px 0;
  }
}

/* 큰 노트북 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main_guide {
    height: 800px;
    padding: 100px 0;
    background-size: cover;
  }
  .main_wrap {
    width: 90%;
    justify-content: space-around;
    margin: 40px auto;
    gap: 40px;
  }
  /* 메인 이미지 영역 */
  .main_image {
    width: 45%;
    height: auto;
  }
  /* 베스트 스타일 컨텐츠 영역 */
  #best_style {
    padding: 200px 0;
    box-sizing: border-box;
    height: auto;
  }
  .best_wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 40px;
  }
  .best-con {
    height: 40vw;
  }
  /* 베스트 이미지 영역 */
  .best_image {
    max-width: 100vw;
    max-height: 34vw;
  }
  /* 스타일 가이드 컨텐츠 영역 */
  #style_guide {
    padding: 0;
  }
  /* 스타일 가이드 메뉴 영역 */
  .style_menu {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .style_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .style_menu > ul > li > a {
    width: 100%;
    height: auto;
    font-size: var(--xs-font-size);
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .style_menu > ul img {
    width: 3%;
    height: auto;
  }
  /* 위에 이미지 영역 */
  .style_top {
    width: 100%;
  }
  .style_top_wrap {
    max-width: 100%;
    height: auto;
    padding: 20px 0;
    justify-content: space-between;
  }

  .style_top_wrap > .top_image {
    max-width: 100vw;
    max-height: 45vw;
  }

  /* 아래 이미지 영역 */
  .style_bottom {
    width: 100%;
  }
  .style_bottom_wrap {
    height: auto;
    justify-content: space-between;
  }
  .style_bottom_wrap > .bottom_image {
    max-width: 100vw;
    max-height: 45vw;
  }
  /* 스타일 룩북 컨텐츠 영역 */
  #lookbook {
    padding: 200px 0;
  }
  /* 비디오 영역 */
  .lookbook_wrap {
    justify-content: space-between;
  }
}

/* 데스크탑 */
@media screen and (min-width: 1441px) {
  .main_guide {
    height: 1000px;
    padding: 100px 0;
    background-size: cover;
  }
  .main_wrap {
    width: 90%;
    justify-content: space-around;
    margin: 40px auto;
    gap: 40px;
  }

  /* 베스트 스타일 컨텐츠 영역 */
  #best_style {
    height: auto;
  }
  .best_wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 0px;
  }
  .best-con {
    height: 30vw;
  }
  /* 베스트 이미지 영역 */
  .best_image {
    max-width: 100vw;
    max-height: 25vw;
  }
  /* 스타일 가이드 메뉴 영역 */
  .style_menu {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .style_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .style_menu > ul img {
    width: 3%;
    height: auto;
  }
  /* 위에 이미지 영역 */
  .style_top {
    width: 100%;
  }
  .style_top_wrap {
    height: auto;
    padding: 20px 0;
    justify-content: space-between;
  }
  .style_top_wrap > .top_image {
    max-width: 100vw;
    max-height: 24vw;
  }
  /* 아래 이미지 영역 */
  .style_bottom {
    width: 100%;
  }
  .style_bottom_wrap {
    height: auto;
    justify-content: space-between;
  }
  .style_bottom_wrap > .bottom_image {
    max-width: 100vw;
    max-height: 24vw;
  }

  /* 비디오 영역 */
  .lookbook_slide_con {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .lookbook_wrap {
    justify-content: space-between;
  }
}
