@charset "utf-8";
@import url("/css/responsive/common_responsive.css");

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* 패키지 메인 비주얼*/
  #package_main {
    height: auto;
    padding: 80px 0;
  }
  /* 패키지 메인 컨텐츠 영역*/
  .package_wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  /* 카드 영역 */
  .card {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
  }
  .card > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_image {
    width: 40%;
    height: auto;
  }
  .card_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 카드 텍스트 영역 */
  .card_text {
    width: 60%;
    height: auto;
    padding: 10px 8px;
  }
  .card_text > h3 {
    font-size: var(--xs-font-size);
    line-height: var(--xs-line-height);
    margin-bottom: 8px;
  }
  .card_text > p:nth-child(2) {
    margin-bottom: 8px;
  }
  .card_text > p:nth-child(3) {
    font-size: clamp(12px, 3.5vw, 18px);
    line-height: 1.4;
    margin-bottom: 8px;
  }
  /* 카드 마우스 오버 */
  .card:hover {
    transform: translateY(0px);
  }
  .card:hover .card_image {
    transform: scale(1);
  }

  /* 패키지 디자이너 섹션 */
  #package_designer {
    padding: 100px 0;
  }
  /* 메뉴 영역 */
  .designer_menu {
    width: 90%;
    height: 50px;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .designer_menu > ul {
    justify-content: space-evenly;
    gap: 0;
  }
  .designer_menu > ul > li > a {
    padding: 10px;
    box-sizing: border-box;
    font-size: clamp(12px, 3.8vw, 16px);
    font-weight: 600;
    transition: 0.3s;
  }
  .designer_menu > ul > img {
    display: none;
  }
  .designer-image-con {
    width: 90%;
    transform: translateX(0);
    opacity: 1;
  }
  .swiper-wrapper {
    gap: 0px;
  }
  .designer_image {
    height: auto;
    max-width: 100vw;
    max-height: 100vw;
    border-radius: 10px;
    overflow: hidden;
  }
  .designer_image > a > img {
    object-position: 50% 0%;
  }

  /* 스타일 선택 섹션 */
  #style_wrap {
    padding: 0;
  }

  /* 스타일 이미지 영역 */
  .style_image_con {
    width: 90%;
    gap: 0px;
    transform: translateX(0);
    opacity: 1;
  }
  .style_image {
    height: auto;
    max-width: 100vw;
    max-height: 100vw;
    border-radius: 10px;
    overflow: hidden;
  }
  /* 버튼 컨테이너 영역 */
  .style_btn_box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .style_btn {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0);
    width: 26%;
    height: 8vw;
  }
  .style_btn > a > img {
    display: none;
  }
  .style_btn:nth-child(even) {
    transform: translateY(0);
  }
  .style_btn > p {
    font-size: clamp(12px, 3.8vw, 16px);
    position: static;
    opacity: 1;
    cursor: pointer;
  }
  .style_btn:hover p {
    transform: translateY(0);
    opacity: 1;
    color: var(--pointcolor);
  }

  /* 세부 항목 선택 섹션 */
  #select_wrap {
    padding: 100px 0;
  }
  .select_con {
    width: 100%;
  }
  .select_menu {
    width: 90%;
    height: 50px;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .select_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }
  .select_menu > ul > li > a {
    width: 100%;
    height: 100%;
    font-size: clamp(12px, 3.8vw, 16px);
    font-weight: 600;
    transition: 0.5s;
  }
  .select_box {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
  }
  .select_list {
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .select_list > a {
    font-size: clamp(12px, 3.8vw, 16px);
  }
  .select_image_con {
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 40px;
    overflow: hidden;
  }
  .select_image {
    width: 30%;
  }
}
/* 태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 패키지 메인 비주얼*/
  #package_main {
    height: auto;
    padding: 100px 0;
  }
  /* 패키지 메인 컨텐츠 영역*/
  .package_wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  /* 카드 영역 */
  .card {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
  }
  .card > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_image {
    width: 40%;
    height: auto;
  }
  .card_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 카드 텍스트 영역 */
  .card_text {
    width: 60%;
    height: auto;
    padding: 10px 18px;
  }
  .card_text > h3 {
    font-size: clamp(18px, 4vw, 24px);
    line-height: var(--xs-line-height);
    margin-bottom: 12px;
  }
  .card_text > p:nth-child(2) {
    font-size: clamp(22px, 4vw, 28px);
    margin-bottom: 12px;
  }
  .card_text > p:nth-child(3) {
    font-size: clamp(16px, 3.5vw, 27px);
    line-height: 1.4;
    margin-bottom: 12px;
  }
  /* 카드 마우스 오버 */
  .card:hover {
    transform: translateY(0px);
  }
  .card:hover .card_image {
    transform: scale(1);
  }
  /* 패키지 디자이너 섹션 */
  #package_designer {
    padding: 150px 0;
  }
  /* 메뉴 영역 */
  .designer_menu {
    width: 90%;
    height: 60px;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .designer_menu > ul {
    justify-content: space-evenly;
    gap: 0;
  }
  .designer_menu > ul > li > a {
    padding: 10px;
    box-sizing: border-box;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 600;
    transition: 0.3s;
  }
  .designer_menu > ul > img {
    display: none;
  }
  .designer-image-con {
    width: 90%;
    transform: translateX(0);
    opacity: 1;
  }
  .swiper-wrapper {
    gap: 0px;
  }
  .designer_image {
    height: auto;
    max-width: 100vw;
    max-height: 100vw;
    border-radius: 10px;
    overflow: hidden;
  }
  .designer_image > a > img {
    object-position: 50% 0%;
  }
  /* 스타일 선택 섹션 */
  #style_wrap {
    padding: 0;
  }
  /* 스타일 이미지 영역 */
  .style_image_con {
    width: 90%;
    gap: 0px;
    transform: translateX(0);
    opacity: 1;
  }
  .style_image {
    height: auto;
    max-width: 100vw;
    max-height: 100vw;
    border-radius: 10px;
    overflow: hidden;
  }
  /* 버튼 컨테이너 영역 */
  .style_btn_box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .style_btn {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0);
    width: 26%;
    height: 8vw;
  }
  .style_btn > a > img {
    display: none;
  }
  .style_btn:nth-child(even) {
    transform: translateY(0);
  }
  .style_btn > p {
    font-size: clamp(14px, 3vw, 18px);
    position: static;
    opacity: 1;
    cursor: pointer;
    padding: 8px;
  }
  .style_btn:hover p {
    transform: translateY(0);
    opacity: 1;
    color: var(--pointcolor);
  }
  /* 세부 항목 선택 섹션 */
  #select_wrap {
    padding: 100px 0;
  }
  .select_con {
    width: 100%;
  }
  .select_menu {
    width: 90%;
    height: 60px;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .select_menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }
  .select_menu > ul > li > a {
    width: 100%;
    height: 100%;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 600;
    transition: 0.5s;
  }
  .select_box {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
  }
  .select_list {
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .select_list > a {
    font-size: clamp(14px, 3vw, 18px);
  }
  .select_image_con {
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 40px;
    overflow: hidden;
  }
  .select_image {
    width: 30%;
  }
}
/* 작은 노트북 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 패키지 메인 비주얼*/
  #package_main {
    height: auto;
    padding: 140px 0;
  }
  /* 패키지 메인 컨텐츠 영역*/
  .package_wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  /* 카드 영역 */
  .card {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
  }
  .card > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_image {
    width: 40%;
    height: auto;
  }
  .card_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 카드 텍스트 영역 */
  .card_text {
    width: 60%;
    height: auto;
    padding: 10px 18px;
  }
  .card_text > h3 {
    font-size: clamp(24px, 5vw, 32px);
    line-height: var(--xs-line-height);
    margin-bottom: 24px;
  }
  .card_text > p:nth-child(2) {
    font-size: clamp(28px, 5vw, 36px);
    margin-bottom: 24px;
  }
  .card_text > p:nth-child(3) {
    font-size: clamp(27px, 3.5vw, 32px);
    line-height: 1.4;
    margin-bottom: 24px;
  }
  /* 패키지 디자이너 섹션 */
  #package_designer {
    padding: 200px 0;
  }
  /* 메뉴 영역 */
  .designer_menu {
    width: 90%;
    height: 60px;
    box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .designer_menu > ul {
    justify-content: space-evenly;
    gap: 0;
  }
  .designer_menu > ul > li > a {
    padding: 10px;
    box-sizing: border-box;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
    transition: 0.3s;
  }
  .designer_menu > ul > img {
    width: 32px;
    height: auto;
  }
  .swiper-wrapper {
    gap: 0px;
  }
  .designer_image {
    height: auto;
    max-width: 100vw;
    max-height: 100vw;
  }
  .designer_image > a > img {
    object-position: 50% 0%;
  }
}
/* 큰 노트북 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}
/* 데스크탑 */
@media screen and (min-width: 1441px) {
}
