@charset "utf-8";
@import url("../reset.css");
@import url("../common.css");

/* 디자이너 메인 영역 */
.designer_main {
  width: 100vw;
  height: 900px;
  background: var(--background-gradient);
  padding: 100px 0;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 200px;
}
/* 텍스트 애니메이션 */
.text_move {
  position: absolute;
  animation: text-move 80s linear infinite;
  width: fit-content;
  display: flex;
  gap: 10px;
  mix-blend-mode: overlay;
}
.text_wrap {
  display: flex;
  width: fit-content;
  gap: 10px;
}
.text_move:last-child {
  animation: text-move 80s linear infinite reverse;
}
.text_move > .text_wrap > div {
  width: 3720px;
  height: fit-content;
}
.text_wrap > div > p {
  font-size: 100px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  color: #444;
}
.designer_main > .text_move:first-child {
  top: 150px;
  left: 0;
}
.designer_main > .text_move:last-child {
  bottom: 150px;
  left: 0;
}
@keyframes text-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* 메인 이미지 영역 */
.designer_wrap {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
/* 왼쪽 이미지 영역 */
.designer_wrap > .left_image {
  width: 750px;
  height: 750px;
  z-index: 1;
}
/* 오른쪽 이미지 영역 */
.designer_wrap > .right_image {
  width: 750px;
  height: 750px;
  z-index: 1;
  align-self: flex-end;
}
.designer_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -100px;
}
.left_image > img {
  border-radius: 0 0 385px 0;
}
.right_image > img {
  border-radius: 385px 0 0 0;
}
/* 디자이너 공간 */
.designer_place {
  width: 100vw;
  height: auto;
  position: relative;
}

.place_wrap {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

/* 디자이너 공간 메뉴 영역 */
.place_menu {
  width: 1600px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 50px;
  margin-bottom: 50px;
}
.place_menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.place_menu > ul > li {
  width: fit-content;
  height: fit-content;
}
.place_menu > ul > li > a {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: var(--xs-font-size);
  font-weight: 600;
  transition: 0.3s;
}
.place_menu > ul > li:hover > a {
  transform: translateY(-3px);
  color: var(--pointcolor);
}
.placestyle_con {
  width: 100%;
  height: 1000px;
}
.swiper-wrapper {
  width: 100%;
  height: 70vw;
  display: flex;
}
.place_con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 이미지 영역 */
.place_image {
  width: 100%;
  height: 45vh;
  margin-bottom: 20px;
}
.place_image > a {
  width: 100%;
  height: 100%;
}
.place_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
/* 텍스트 영역 */
.place_text {
  width: 100%;
  height: auto;
}
.place_text > h3 {
  font-size: var(--md-font-size);
  line-height: var(--md-line-height);
  font-weight: 600;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
.text_bottom {
  display: flex;
}
.text_bottom > .designer_info {
  width: 50%;
  height: fit-content;
}
.designer_info p {
  font-size: var(--sm-font-size);
  line-height: var(--sm-line-height);
  font-weight: 400;
  color: #d9d9d9;
  margin: 10px;
  cursor: context-menu;
}
/* 디자이너 인포 서브 이미지 */
.text_bottom > .sub_image {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text_bottom > .sub_image div {
  width: 100px;
  height: 100px;
}
.sub_image > div > a {
  width: 100%;
  height: 100%;
}
.sub_image > div > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -10px;
}
/* 디자이너 댓글 */
#designer_comment {
  width: 100vw;
  height: auto;
  padding: 200px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.comment_wrap {
  width: 100%;
  height: auto;
  background: var(--background-gradient);
  padding: 100px 0;
  overflow: hidden;
}
.comment_wrap > p {
  text-align: center;
  font-size: var(--md-font-size);
  line-height: var(--md-line-height);
  font-weight: 600;
  color: #444;
  margin-bottom: 60px;
}
.comment_box {
  width: 100%;
  height: fit-content;
}
.comment_first {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  animation: comment-move 18s linear infinite;
}
.comment_second {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  animation: comment-move 14s linear infinite;
}
.comment_third {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  animation: comment-move 20s linear infinite;
}
.comment {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment > div:first-child {
  width: 100px;
  height: 100px;
}
.comment > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.comment > div:last-child {
  width: 500px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 50px;
}
.comment p {
  font-size: 20px;
  line-height: 100px;
  font-weight: 400;
  text-align: center;
  cursor: context-menu;
}
.comment_move {
  display: flex;
  gap: 40px;
}
@keyframes comment-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-68.8%);
  }
}
