@charset "utf-8";
@import url("../reset.css");
@import url("../common.css");

/* 스타일 패키지 메인 컨텐츠 영역 */
.main_guide {
  width: 100%;
  height: 1000px;
  padding: 100px 0;
  background: var(--background-gradient),
    url(../../img/sub/sub_styleguide/sub2_main/3D\ Paths\ -\ Lines\ 1\ -\ Copy@1-1707x979\ 1.png)
      no-repeat;
  background-position: center;
  background-blend-mode: screen;
}
.main_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
/* 메인 이미지 영역 */
.main_image {
  width: 420px;
  height: 600px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 30px;
  transform: rotate(-15deg);
}
.main_image > a {
  width: 100%;
  height: 100%;
}
.main_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  filter: opacity(0.8);
  transition: 0.5s;
  will-change: transform;
}
.main_image:hover img {
  transform: rotate(15deg);
  filter: opacity(1);
}
/* 베스트 스타일 컨텐츠 영역 */
#best_style {
  padding: 200px 0;
  box-sizing: border-box;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.best_wrap {
  width: 100vw;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 500px);
  gap: 40px;
}
/* 베스트 이미지 영역 */
.best_image {
  width: 500px;
  height: 500px;
  border-radius: 300px;
}
.best_image > a {
  width: 100%;
  height: 100%;
}
.best_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 300px;
  transition: 0.5s;
}
.best_image:nth-child(2) > a > img {
  object-position: 0px 0px;
}
.best_image:nth-child(3) > a > img {
  object-position: 0 -80px;
}
.best_image > a:hover > img {
  transform: scale(1.1);
}
/* 스타일 가이드 컨텐츠 영역 */
#style_guide {
  padding: 200px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.style_con {
  width: 100%;
  height: auto;
}

/* 스타일 가이드 메뉴 영역 */
.style_menu {
  width: 1600px;
  height: 100px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 50px;
  margin-bottom: 50px;
}
.style_menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.style_menu > ul > li {
  width: fit-content;
  height: fit-content;
}
.style_menu > ul > li > a {
  width: 100%;
  height: 100%;
  font-size: var(--xs-font-size);
  font-weight: 600;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}
.style_menu > ul > li:hover > a {
  color: var(--pointcolor);
  transform: translateY(-3px);
}
/* 스타일 가이드 이미지 영역 */

/* 위에 이미지 영역 */
.style_top {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 385px);
  gap: 30px;
  overflow-x: hidden;
  padding: 20px 0;
  box-sizing: border-box;
}
.style_top > .top_image {
  width: 385px;
  height: 400px;
}
.style_top .top_image > a {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.style_top .top_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
/* 아래 이미지 영역 */
.style_bottom {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 385px);
  gap: 30px;
  overflow-x: hidden;
  padding: 20px 0;
  box-sizing: border-box;
}
.style_bottom > .bottom_image {
  width: 385px;
  height: 400px;
}
.style_bottom > .bottom_image > a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.style_bottom > .bottom_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.top_image:hover > a {
  transform: translateY(-10px);
}
.bottom_image:hover > a {
  transform: translateY(-10px);
}
/* 스타일 룩북 컨텐츠 영역 */
#lookbook {
  padding: 200px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.lookbook_con {
  width: 100%;
  height: 100%;
}
/* 비디오 영역 */
.lookbook_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.lookbook_video {
  width: fit-content;
  height: fit-content;
}
.lookbook_video > iframe {
  border-radius: 30px;
}
